html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: #EBEBEB;    
}

#boxResult {
    padding: 16px;
}

.card {
    width: 20rem;
}

